text{
    font-family:Helvetica, Arial, sans-serif;
    font-size:11px;
    pointer-events:none;
}

body {
    background-color: #c6c7c7;
}

#chart{
    top:0;
    left:0;
}

#question{
    top:0;
}

.result {
    margin-top: 10%;
}

.place {
    height: 120px;
}

.back-to-homepage {
    position: absolute;
}
